;; http://www.functionalbytes.nl/clojure/nodejs/figwheel/repl/clojurescript/cli/2017/12/20/tools-deps-figwheel.html
;;
{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/tools.deps.alpha {:mvn/version "0.5.425"
                                      :exclusions [org.slf4j/slf4j-nop]}
        org.clojure/tools.nrepl {:mvn/version "0.2.12"}
        javax.xml.bind/jaxb-api {:mvn/version "2.3.0"}
        com.rpl/specter {:mvn/version "1.1.0"}
        net.catdata/fql {:mvn/version "0.9-SNAPSHOT"
                         :classifier "jar-with-deps"}
        org.clojure/data.json {:mvn/version "0.2.6"}
        com.fasterxml.jackson.jaxrs/jackson-jaxrs-json-provider {:mvn/version "2.9.5"}
        org.clojure/tools.logging {:mvn/version "0.2.3"}
        ch.qos.logback/logback-classic {:mvn/version "1.0.1"
                                        :exclusions [org.slf4j/slf4j-nop]}
        net.cgrand/xforms {:mvn/version "0.16.0"}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}
             "nexus" {:url "https://nexus.isis.vanderbilt.edu/repository/maven-releases"}
             "nexus-snapshot" {:url "https://nexus.isis.vanderbilt.edu/repository/maven-snapshots"}}}
