;;
;; http://www.functionalbytes.nl/clojure/nodejs/figwheel/repl/clojurescript/cli/2017/12/20/tools-deps-figwheel.html?__s=yhz5o8ifr78csip51uq9
{:paths ["src"]
 :deps {aql {:local/root "./aql"}
        org.zeromq/jeromq {:mvn/version "0.4.4-SNAPSHOT"}}
 :mvn/repos { "central" {:url "https://repo1.maven.org/maven2/"}
              "clojars" {:url "https://clojars.org/repo/"}
              "sonatype-nexus-snapshots"
                  {:url "https://oss.sonatype.org/content/repositories/snapshots"}}}
